$panelHeight: 90px;
$blockHeight: 600px;
$background: #d7d7d7;

.checker {
  &-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__item {
      width: 33%;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  }

  &-header{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.editor {
  &-text-field {
    height: $blockHeight;
    width: 100%;

    &__textarea {
      height: 100%;
      width: 100%;
    }
  }

  &-action-panel {
    height: $panelHeight;
    margin-top: 0;
  }
}

.preview {
  margin-top: $panelHeight;
  width: 100%;
  height: $blockHeight;
  overflow-wrap: anywhere;
  background-color: $background;
  padding: 5px;
  overflow-y: auto;
}

.report {
  margin-top: $panelHeight;
  height: $blockHeight;
  width: 100%;

  &__list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    background-color: $background;
    padding: 5px;
    text-decoration: none;
    list-style-type: none;
    overflow-y: auto;

    &-item {
      width: 100%;
      background-color: red;
      margin-top: 5px;
      padding: 5px;
      overflow-wrap: anywhere;

      &--green {
        background-color: green;
      }
    }

  }
}